html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background: ivory;
}
ul {
  list-style: none;
  padding-left: 0;
}
#app {
  width: 1140px;
  margin: auto;
}
.form {
  display: flex;
  align-items: center;
  div {
    padding: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    &:nth-child(1) { width: 15%; }
    &:nth-child(2) { width: 15%; }
    &:nth-child(3) { width: 15%; }
    &:nth-child(4) { width: 40%; }
    &:nth-child(5) { width: 15%; }
  }
}
.table {
  table-layout:fixed;

  th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:nth-child(1) { max-width: 15%; width: 15%; }
    &:nth-child(2) { max-width: 15%; width: 15%; }
    &:nth-child(3) { max-width: 15%; width: 15%; }
    &:nth-child(4) { max-width: 40%; width: 40%; }
    &:nth-child(5) { max-width: 15%; width: 15%; }
  }
  th {
    text-align: center;
  }
  td {
    &:nth-child(5) { text-align: right; }
  }
}
.btnLoadMore {
  text-align: center;
  line-height: 100px;
}